.main-table{
    display: inline-block;
    width: 94%;
}
.main-table-left{
    width: 16%;
    display: inline-block;
    float: left;
    border-right: 1px solid #e1e4eb;
    padding-bottom: 20%;
}
.main-table-right{
    width: 84%;
    display: inline-block;
    float: left;
}
.table-row {
    border-left: 5px solid transparent;
    padding-left: 2%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    width: 100%;
    float: left;
}
.table-head{
    height: 60px;
    line-height: 60px;
    padding-left: 3%;
    display: inline-block;
    width: 100%;
    float: left;
}
.col1 {
    width: 6%;
    padding-left: 0;
}
.col2 {
    width: 18%;
}
.col3 {
    width: 29%;
}
.col4 {
    width: 12%;
}
.col5 {
    width: 19%;
}
.col6 {
    width: 8.5%;
    padding: 0;
}
.table-head .col6{
    padding: 0;
}
.main-table-right .table-row {
    border-left: 5px solid transparent;
}
.table-head > div{
    font-weight: 500;
}
.main-table .fa{
    padding-left: 10px;
}
.table-row:hover{
    background: #f7f9fc;
}
.table-row .fa{
    color: #ccc;
}
.main-table-left .active-row{
    border-left: 5px solid;
}
.table-row.active-row{
    background: #f7f9fc;

}
.main-table-left .table-row{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 30px;
}
.table-prehead{
    display: inline-block;
    width: 100%;
    float: left;
}
.table-prehead .table-row{
    padding: 0;
    border-left:0;
    border-bottom: 0;
}
.main-table-left button{
    height: 38px;
    line-height: 38px;
    width: 88%;
    font-size: 12px;
    color: white;
    background: black;
    border: 0;
    border-radius: 4px;
}
.table-prehead .col4{
    width: 7.5%;
    float: right;
    text-align: center;
    border-left: 1px solid #e1e4eb;
}
.main-table-left .table-row-button{
    padding-left: 20px;
}
.table-prehead .col2 a{
    padding-left: 25px;
}
.table-prehead .col2{
    border-right: 1px solid #e1e4eb;
}
.table-prehead .col3{
    text-align: right;
    width: 66%;
    font-size: 13px;
    padding-left: 1%;
}
.table-prehead .col3 span{
    float: left;
}

@media (max-width: 767px) {
    .main-table {
        width: 100%;
    }
    .table-prehead .col2{
        width: 35%;
    }
    .table-prehead .col3{
        width: 45%;
    }
    .main-table-left .table-row{
        padding-left: 0;
    }
    .main-table-left button {
        height: 28px;
        line-height: 28px;
        font-size: 7px;
    }
    input:before {
        content: '';
        display: block;
        box-sizing: content-box;
        width: 8px;
        height: 8px;
        border: 1px solid #ccc;
        transition: 0.2s border-color ease;
    }
    input[type="checkbox"]:before {
        border-radius: 0px;
    }
    input[type="checkbox"]:after {
        width: 4.6px;
        height: 8px;
        border-radius: 0;
        -webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
        transform: translate(-50%, -85%) scale(0) rotate(45deg);
        background-color: transparent;
        box-shadow: 2px 2px 0px 0px #633afd;
    }
    .main-table .fa {
        padding-left: 3px;
    }
    input{
        top: 1px;
    }
}
@media (max-width: 1200px) {
    .table-prehead .col2 a {
        padding-left: 10px;
    }
}
@media (max-width: 425px) {
    .table-prehead .col3 img{
        display: none;
    }
    .table-prehead .col2 a {
        padding-left: 4px;
    }
    .col1 {
        width: 9%;
    }
}

.main-table input[type="checkbox"]{
    margin: 4px 0 0;
}