.trafic-cop-status .main-block-header h1 span{
    color: #ccc;
}
.main-block-header{
    padding-left: 35px;
    padding-top: 13px;
}
.looking_for{
    display: inline-block;
    width: 100%;
    background: #f7f9fc;
    border: 1px solid #e1e4eb;
    height: 72px;
    line-height: 70px;
    padding: 0 20px;
    font-weight: 500;
}
body{
    background: #fff;
}
.buttons{
    float: right;
}
.buttons button{
    height: 45px;
    line-height: 41px;
    border-radius: 40px;
    margin: 0 0 0 30px;
}
.buttons .transparent-button{
    color: black;
    width: 160px;
    background: transparent;
    border: 1px solid #adadbd;
}
.buttons .blue-button{
    width: 140px;
    background: #5081fb;
    color: #fff;
    border: 1px solid #5081fb;
}
.trafic-cop-status .main-block-header h1 {
    margin: 30px 0 0 0;
}
.small-chevron{
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 9px;
    line-height: 17px;
    margin: 0 0 0 0;
    position: relative;
    top: -3px;
    left: 20px;
}
.fold-grid{
    display: inline-block;
    width: 80%;
    margin-top: 70px;
}
.fold-item, .fold-create{
    display: inline-block;
    width: 20%;
    float: left;
    margin: 0 0 83px 10%;
    position: relative;
    max-width: 178px;
    cursor: pointer;
}
.fold-ftp .link img{
    box-shadow: none;
}
.fold-item-head .fa-ellipsis-h{
    float: right;
    text-align: center;
    width: 30px;
    height: 24px;
    line-height: 24px;
    position: relative;
    border: 1px solid;
    margin: 8px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.fold-item-head .link{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.link img{
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.fold-item-name{
    text-align: center;
    margin: 35px 0 0 0;
    font-size: 15px;
}

.fold-item-name{
    text-align: center;
    margin: 33px 0 0 0;
    font-size: 16px;
}
.link{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.favorite{
    display: none;
}

.main-block-sidebar-open{
    padding-right: 35px;
    min-height: calc(100vh - 160px);
}
.view-mod{
    font-size: 12px;
    height: 21px;
}
.main-block-header-buttons{
    margin: 30px 0 0 0;
}
.view-mod .fa-chevron-down{
    font-size: 9px;
    margin: 0 0 0 8px;
}
.fa-th-large{
    color: #000;
}
.fold-create{
    height: 155px;
    border: 1px solid #dfdfe4;
    text-align: center;
    cursor: pointer;
}
.fold-create a{
    color: #dfdfe4;
}
.fold-create a:hover, .fold-create a:focus{
    text-decoration: none;
}
.fold-create-plus{
    font-size: 36px;
    border: 1px solid;
    width: 70px;
    margin: 30px auto 0 auto;
    line-height: 70px;
    border-radius: 50%;
}
.drag-and-drop{
    cursor: pointer;
    width: 100%;
    min-height: 60px;
    display: inline-block;
    text-align: center;
    color: #dfdfe4;
    border: 1px solid #dfdfe4;
    font-size: 18px;
    line-height: 60px;
    padding-left: 305px;
}
.fold-create .fold-item-name{
    font-size: 12px;
    margin: 10px 0 0 0;
}
.dz-error-message, .dz-success-mark, .dz-error-mark{
    display: none;
}
.dz-preview{
    width: 9%;
    display: inline-block;
    float: left;
    margin: 60px 3% 0 3%;
    line-height: 16px;
    color: black;
    font-size: 14px;
}
.drag-and-drop .drag-and-drop-text{
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0%);
}
.dz-image img{
    width: 100%;
}
.dz-size, .dz-filename{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}
.modal-fold-create input[type="radio"]:before {
    background: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    left: -5px;
    top: -5px;
    cursor: pointer;
}
.modal-fold-create input[type="radio"]:after {
    position: relative;
    top: -17px;
    left: 7px;
}
.modal-fold-create input[type="radio"] + label {
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin: 0 40px 0 0;
    top: -1px;
    cursor: pointer;
    padding-left: 17px;
}
.folder-name label {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 16px;
    left: 17px;
    background: white;
    padding: 0 4px;
}
.folder-name select, input[type="text"] {
    border: 2px solid #e1e4eb;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    margin-bottom: 15px;
}
.folder-name{
    margin-bottom: 40px;
}
.modal-fold-create h6{
    padding-left: 25px;
}
.FolderType{
    padding-left: 20px;
    margin: 20px 0 20px 0;
}
.modal-title {
    display: inline-block;
}
.trafic-cop-status .folder-activity {
    max-width: 330px;
    background: #f7f9fc;
    top: 280px;
    position: absolute;
    height: auto;
    border: 1px solid;
}
.folder-activity-head .close{
    opacity: 1;
    font-size: 36px;
    line-height: 16px;
}
.folder-activity-head{
    padding: 15px 0 20px 15px;
}
.folder-activity-head h4{
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
}
.folder-activity-head h1{
    font-size: 23px;
    margin: 0;
}
.section-header{
    color: white;
    background: black;
    font-size: 12px;
    line-height: 45px;
    padding: 0 0 0 15px;
}
.section-header .fa-cog{
    float: right;
    font-size: 18px;
    line-height: 46px;
    margin-right: 5px;
}
.section-body{
    padding: 15px 0 15px 15px;
}
.user{
    display: inline-block;
    margin: 5px 10px 15px 0;
    position: relative;
}
.user-status.online{
    width: 14px;
    height: 15px;
    background: #4ece3d;
    display: inline-block;
    position: absolute;
    right: -4px;
    top: -3px;
    border-radius: 50%;
    border: 2px solid black;
}
.folder-activity p{
    font-size: 13px;
}
.add-user{
    display: inline-block;
    position: relative;
    margin: 5px 10px 15px 0px;
    width: 48px;
    height: 48px;
    background: #1c232d;
    line-height: 48px;
    text-align: center;
    border-radius: 10px;
}
.add-user-plus{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: normal;
    background: #4ece3d;
    vertical-align: middle;
    color: #1c232d;
    font-size: 17px;
    font-weight: 500;
    font-family: fantasy;
    border-radius: 50%;
}
.latest-uploads-file-format{
    display: inline-block;
    float: left;
}
.latest-uploads-file-name{
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 12px;
    float: left;
    line-height: 27px;
}
.latest-uploads-file-size{
    float: right;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px 0 0;
    line-height: 27px;
    color: #95b0c8;
}
.latest-uploads-file{
    width: 100%;
    display: inline-block;
}
.activity-user-photo img{
    max-width: 36px;
}
.activity-user-photo{
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}
.activity-user-inf{
    display: inline-block;
    font-size: 13px;
    max-width: 140px;
}
.shots_on{
    float: right;
    margin: 0 23px 0 0;
    font-size: 13px;
}
.trafic-cop-status .main-block-header h1 {
    width: 20%;
}





@media (max-width: 1440px){
    .main-block, .drag-and-drop {
        padding-left: 80px;
    }
}
@media (max-width: 767px){
    .main-block, .drag-and-drop {
        padding-left: 0;
    }
    .looking_for {
        font-size: 10px;
        padding: 0 10px;
    }
    .buttons button {
        width: 100px !important;
    }
    .link img{
        width: 100%;
    }
    .buttons button {
        font-size: 10px;
        height: 35px;
        line-height: 31px;
        border-radius: 40px;
        margin: 0;
    }
    .modal-fold-create input[type="radio"] + label {
        margin: 0 20px 0 0;
    }
}
@media (max-width: 425px) {
    .fold-item, .fold-create{
        width: 40%;
    }
    .buttons {
        width: 100%;
        float: none;
    }
    .looking_for{
        height: auto;
    }
}
@media (max-width: 1700px){
    .trafic-cop-status .right-block {
        padding-left: 0;
    }
}



