body {
    background: #fff;
}
.create-invoice{
    margin: -12px 0 0 50px;
    vertical-align: middle;
    box-shadow: 0 4px 12px 0px #633afd;
    width: 120px;
}
.create-invoice span{
    margin: 0 7px 0 0;
}
.profile-picture{
    border: 2px solid #e1e4eb;
    display: inline-block;
    margin: 10px 44px 0 5px;
    width: 140px;
    text-align: center;
    height: 103px;
}
.profile-picture:hover, .main-block select:focus, .main-block input[type="text"]:focus{
    border: 2px solid #633afd;
}
.profile-picture span{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: -10px;
    left: -17px;
    background: white;
    padding: 0 4px;
}
select, input[type="text"]{
    border: 2px solid #e1e4eb;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
}
.Salutation{
    width: 135px;
    vertical-align: top;
    margin: 8px 0 0 0;
}
.input-container{
    display: inline-block;
    width: 77%;}
label{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 16px;
    left: 17px;
    background: white;
    padding: 0 4px;
}
.row {
    margin-left: 15px;
}
.trafic-cop-status .main-block-header h1 {
    margin-left: 0;
}
.main-block-sidebar-open {
    padding-right: 80px;
}
.input-form-name{
    display: inline-block;
    float: right;
    margin: 7px 0 0 0;
    width: 69%;
}
.input-form-name .input-container{
    width: 46%;
    margin-left: 4%;
    float: left;
}
.brdb{
    border-bottom: 1px solid #e1e4eb;
    padding-bottom: 13px;
}
.company{
    margin-top: 40px;
}
.main-block h6{
    font-size: 18px;
}
.main-block select, .main-block input[type="text"]{
    margin-bottom: 15px;
}
.phoneAndWebsite{
    margin-top: 20px;
    padding-bottom: 32px;
}
.Salutation{
    width: 135px;
}
.upl-img {
    text-align: center;
    margin: 0 0 0 20px;
    vertical-align: text-bottom;
}
.phoneAndWebsite .input-container, .half-width-form .input-container{
    width: 32%;
    margin-right: 2%;
}
.Add-fields{
    color: black;
    line-height: 18px;
    font-size: 18px;
    margin: -20px 0 0 0;
    display: inline-block;
    vertical-align: middle;
}
.Add-fields span{
    font-size: 36px;
    position: relative;
    display: inline-block;
    top: 4px;
    margin: 0 10px 0 0;
}
.Add-fields:hover{
    text-decoration: none;
    color: #000;
}
.ContactType  input[type="radio"]:after{
    position: relative;
    top: -17px;
    left: 7px;

}
.ContactType  input[type="radio"]:before{
    background: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    left: -5px;
    top: -5px;
    cursor: pointer;

}


.ContactType .input-container{
    margin: 15px 0 0 5px;
}
.ContactType label{
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin: 0 40px 0 0;
    top: -1px;
    cursor: pointer;

}
.customer-service{
    margin-top: 40px;
}
.main-block .companyName{
    background-repeat: no-repeat;
    background-position: 26px 50%;
    padding-left: 100px;
}
.new-contact-link{
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: #c5c5d0;
    margin: 0px 24px 0 16px;
    height: 40px;
}
.new-contact-link:hover, .new-contact-link-active{
    border-bottom: 2px solid #633afd;
}
.new-contact-link-active{
    color: #000;
}
.new-contact-links-block{
    margin-top: 30px;
    margin-bottom: 35px;
    padding: 0;
}
.TaxPreference{
    margin: 7px 0 35px 0;
}
.half-width-form .TaxRate .input-container{
    display: block;
}
.TaxRate{
    margin-bottom: 30px;
}
.buttons-block{
    margin-top: 7px;
    margin-bottom: 20%;
}
.buttons-block button{
    height: 60px;
    line-height: 55px;
    width: 115px;
    margin-right: 10px;
    margin-bottom: 20px;
}
@media (max-width: 1730px) {
    .input-form-name{
        float: none;
        width: 80%;
    }
    .input-form-name .input-container{
        margin-left: 0;
        margin-right: 4%;
    }
}
@media (max-width: 1440px) {
    .main-block {
        padding-left: 80px;
    }
}
@media (max-width: 1024px) {
    .new-contact-link{
        font-size: 12px;
        height: 30px;
    }
    .main-block h6 {
        font-size: 14px;
    }
    select, input[type="text"], .ContactType label{
        font-size: 12px;
    }
    .main-block input[type=radio]{
        width: 25px;
    }
    .ContactType label{
        width: calc(100% - 75px );
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .new-contact-link{
        font-size: 12px;
        height: 20px;
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .main-block .input-container, .input-form-name{
        width: 100%;
    }
    .create-invoice {
        margin: 20px 0 30px 0;
    }

}

























