body{
    background: #fff;
}
.lob{
    margin: -10px 0 20px 0;
}
.payment-request{
    background: url(../img/payment_request_white.png);
    background-repeat: no-repeat;
    -webkit-background-size: 20%;
    background-size: 25px;
    background-position: 20px 50%;
    padding-left: 10%;
    width: 200px;
    background-color: black;
}
.main-block h2{
    font-size: 22px;
    margin: 45px 0 0 0px;
    font-weight: 400;
}
.input-container {
    margin: 0 24px 0 0;
}
.input-container-Serch{
    width: 460px;
}
.input-container-Selected{
    width: 270px;
}
.serch-btn{
    margin: 0;
    height: 60px;
    text-align: center;
    font-size: 20px;
    width: 120px;
    margin: 10px 0 0 0;
}
.list-orders-table{
    border: 1px solid #e1e4eb;
    margin: 22px 0 0 0;
}
.col1{
    width: 8%;
    padding-left: 1%;
}
.col2{
    width: 11%;
}
.col3{
    width: 23%;
}
.col4{
    width: 15%;
}
.col5{
    width: 11%;
}
.col6{
    width: 11%;
    padding: 0;
}
.table-head .col6 {
     padding-left: 0;
}
.col7{
    width: 19%;
    text-align: right;
}

.table-head{
    height: 60px;
    line-height: 60px;
    font-size: 12px;
}
.table-row{
    height: 75px;
    font-size: 12px;
    line-height: 75px;

}

.table-row > div {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    color: #ccc;
}
.table-row input[type="checkbox"]{
    top: 0;
    margin: 2px 6px 0 7px;
}
.actions{
    font-size: 12px;
}
.actions .input-container{
    font-size: 12px;
    margin: 56px 0 0 8px;
}
.actions select{
    font-size: 12px;
    height: 35px;
    border: 1px solid #e1e4eb;
    border-radius: 4px;
    width: 172px;
}
.submit-btn{
    margin: 0 0 0 6px;
    width: 62px;
}
.table-row .col3 a{
    color: #633afd;
    font-size: 13px;
    text-decoration: underline;
    font-weight: 500;
}
.table-row .col3{
    color: #000;
}
.price{
    color: #633afd;
}
.status-pending .status-point{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #27ff71;
    position: static;
    margin: 0 10px 0 0;
}
.status-pending{
    color: #27ff71;
}
.add{
    box-shadow: 0 4px 12px 0px #633afd;
}
@media (max-width: 1440px) {
    .main-block {
        padding-left: 90px;
    }
}
.looking_for, .col3 p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 1024px) {
    .col1{
        width: 5%;
    }
    .col2 {
        width: 5%;
    }
}
@media (max-width: 767px) {
    .input-form-orderby .input-container{
        width: 100%;
        margin: 0;
    }
    .main-block {
        padding-left: 15px;
    }
    .table-row input[type="checkbox"] {
        margin: 2px 0px 0 0px;
    }
    .col8 {
        width: 7%;
    }
    .col1 {
        width: 8%;
    }
    .table-row, .table-head {
        font-size: 9px;
    }
    .actions select {
        width: 155px;
    }
}









