.trafic-cop-status .main-block-header h1 span{
    color: #ccc;
}
.main-block-header{
    padding-left: 35px;
    padding-top: 13px;
}
.looking_for{
    display: inline-block;
    width: 100%;
    background: #f7f9fc;
    border: 1px solid #e1e4eb;
    height: 72px;
    line-height: 70px;
    padding: 0 20px;
    font-weight: 500;
}
body{
    background: #fff;
}
.buttons{
    float: right;
}
.buttons button{
    height: 45px;
    line-height: 41px;
    border-radius: 40px;
    margin: 0 0 0 5px;
}
.buttons .transparent-button{
    color: black;
    width: 90px;
    background: transparent;
    border: 1px solid #adadbd;
}
.buttons .blue-button{
    width: 140px;
    background: #5081fb;
    color: #fff;
    border: 1px solid #5081fb;
}
.trafic-cop-status .main-block-header h1 {
    margin: 30px 0 0 0;
}
.small-chevron{
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 9px;
    line-height: 17px;
    margin: 0 0 0 0;
    position: relative;
    top: -3px;
    left: 20px;
}
.fold-grid{
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
.fold-item{
    display: inline-block;
    width: 20%;
    float: left;
    margin: 0 0 83px 9%;
    position: relative;
    max-width: 178px;
}
.fold-item-head .fa-ellipsis-h{
    float: right;
    text-align: center;
    width: 30px;
    height: 24px;
    line-height: 24px;
    position: relative;
    border: 1px solid;
    margin: 8px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.fold-item-head .link{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.link img{
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.fold-item-name{
    text-align: center;
    margin: 35px 0 0 0;
    font-size: 15px;
}

.fold-item-name{
    text-align: center;
    margin: 33px 0 0 0;
    font-size: 16px;
}
.link{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.favorite{
    display: none;
}

.progress-rma > div{
    display: inline-block;
    float: left;
    text-align: center;
    width: 19%;
    margin: 0 1% 0 0;
    padding-bottom: 15px;
    border-bottom: 4px solid;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #d1d1d2;
}
.progress-rma{
    display: inline-block;
    width: 100%;
    margin: 50px 0 0 0;
    padding-bottom: 75px;
}
.brdb {
    border-bottom: 1px solid #e1e4eb;
}
.main-block-sidebar-open{
    padding: 0;
    width: 100%;
    margin: 0;
}
.main-block-header{
    margin: 0;
}
.progress-rma, .trafic-cop-status .main-block-header h1, .progress-rma-step1-content{
    padding: 0 15% 75px 290px;
}
.trafic-cop-status .main-block-header h1{
    padding-bottom: 0;
}
.progress-rma .rma-step-active{
    color: #633afd;
}
.progress-rma-step1-buttons-block{
    margin: 9% auto;
    text-align: center;
    width: 42%;
}
.progress-rma-step1-buttons-block .black-btn{
    height: 60px;
    line-height: normal;
    font-weight: 300;
    margin: 0 0 20px 0;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.41);
}
.progress-rma-step1-buttons-block .black-btn:hover,
.progress-rma-step1-buttons-block .black-btn:focus{
    background: #633afd;
    box-shadow: 0px 7px 16px 1px #633afd61;


}



@media (max-width: 1440px){
    .main-block {
        padding-left: 60px;
    }
    .main-block-header {
        padding: 0;
    }
    .progress-rma, .trafic-cop-status .main-block-header h1, .steps-content{
        padding: 0 0 75px 20px;
    }
}
@media (max-width: 767px){
    .progress-rma-step1-buttons-block .black-btn{
        font-size: 14px;
    }
    .main-block {
        padding-left: 0;
    }
    .looking_for {
        font-size: 10px;
        padding: 0 10px;
    }
    .progress-rma > div{
        width: 100%;
        margin: 20px 0 0 0;
    }
    .progress-rma, .steps-content{
        padding: 0 0 75px 0px;
    }
    .buttons .transparent-button{
        width: 60px;
    }
    .buttons .blue-button {
        width: 85px;
    }
    .link img{
        width: 100%;
    }
    .buttons button {
        font-size: 10px;
        height: 35px;
        line-height: 31px;
        border-radius: 40px;
        margin: 0;
    }
}
.input-container {
    width: 100%;
    margin: 15px 0 0 0;
}
.information{
    padding: 0 15% 0 240px;
    display: inline-block;
    border-bottom: 1px solid #e1e4eb;
    border-top: 1px solid #e1e4eb;
}
.information > div{
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 40px 75px 55px;
}
.progress-rma-step2-content-buttons-block{
    padding: 20px 15% 35px 295px;
    display: inline-block;
    width: 100%;
}
.progress-rma-step2-content-buttons-block .back{
    width: 62px;
    height: 36px;
    background: #633afd;
    color: white;
    text-align: center;
    padding: 0 13px;
    font-size: 11px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0px #633afd;
}
.progress-rma-step2-content-buttons-block .next {
    width: 62px;
    height: 36px;
    color: #d1d1d2;
    text-align: center;
    padding: 0 13px;
    font-size: 11px;
    border: 1px solid #d1d1d2;
    border-radius: 4px;
    background: #fff;
    margin-left: 10px;
}
.company-information, .product-information{
    background: #f7f9fc;
    border-left: 1px solid #e1e4eb;
    border-right: 1px solid #e1e4eb;
}
.information > div h4{
    text-transform: capitalize;
    margin: 30px 0 0 0;
}
label{
    color: #adadbd;
}
#same-info{
    margin: 50px 5px 0px 0;
}
label[for=same-info]{
    color: black;
    position: static;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 23px;
}
.blue-star{
    color: #633afd;
}
.blue-question{
    float: right;
    position: relative;
    right: 0;
    top: 30px;
    line-height: 0;
    font-size: 12px;
    color: #633afd;

}
.half-width{
    width: 50%;
}
@media (max-width: 1700px){
    .information {
        padding: 0 0 0 240px;
    }
}
@media (max-width: 1440px){
    .information, .steps-content{
        padding: 0;
    }
    .progress-rma-step2-content-buttons-block{
        padding-left: 20px;
    }
}
@media (max-width: 767px){
    .information > div{
        width: 100%;
        padding: 0 20px 75px 20px;
    }
}
.product-information-buttons-block{
    width: 75%;
    float: right;
    padding: 40px 0 0 0;
}
.product-information-buttons-block button{
    height: 45px;
    line-height: 41px;
    border-radius: 40px;
    background: transparent;
    width: 47%;
    border: 1px solid #999ca2;
    color: #000;
    margin: 0 2% 20px 0;
}
.product-information-buttons-block .black-btn{
    background: #000;
    border: 1px solid #000;
    color: #fff;
    margin: 0 2% 20px 0;
    display: inline-block;
    text-align: center;
    width: 47%;
}
.noFileChoose{
    color: #999ca2;
    font-size: 14px;
}
.problemDescription{
    width: 100%;
    height: 170px;
}
.step3-question{
    display: inline-block;
    font-size: 17px;
    width: 50%;
    vertical-align: top;
    font-weight: 500;
}

.fallure-information input[type="radio"]:before {
    background: #fff;
    width: 25px;
    height: 25px;
}
input[type="radio"]:checked:after {
    content: none;
}
.fallure-information input:checked:before {
    border: 9px solid #633afd;
    box-sizing: border-box;
    width: 29px;
    height: 29px;
}
.fallure-information input[type="radio"] ~ label {
    font-size: 17px;
    margin: 0 13%0 0;
    color: #000;
    vertical-align: middle;
}
.fallure-information .input-container{
    margin: 47px 0 19px 0;
}
.fallure-information  .product-information-buttons-block{
    float: left;
    padding: 0;
}
.fallure-information  .product-information-buttons-block h4{
    margin-top: 20px;
}
.fallure-information .noFileChoose {
    margin: 20px 0 40px 0;
}
.fallure-information .Description-textarea{
    margin: 20px 0 0 0;
}
/* webkit solution */
#todaysDate::-webkit-input-placeholder { text-align:right;
    color: #e1e4eb;}
/* mozilla solution */
#todaysDate:-moz-placeholder { text-align:right;
    color: #e1e4eb;}

.uploadbutton {
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
}
@media (max-width: 1200px){
    .step3-question {
        font-size: 14px;
    }
    .fallure-information input[type="radio"] ~ label {
        font-size: 14px;
        margin: 6px 7% 0 0;
    }
    .product-information-buttons-block{
        width: 100%;
    }
}

.progress-rma-step4-content, .progress-rma-step5-content{
    padding: 20px 15% 35px 295px;
    display: inline-block;
    width: 100%;
}
.rma-confirm-table, .request-detail-table {
    box-shadow: 0 9px 20px 1px rgba(0, 0, 0, 0.14);
    display: inline-block;
    width: 100%;
    margin: 22px 0 30px 0;
    border: 1px solid #e1e4eb;
    text-transform: capitalize;
    border-radius: 5px;
}
.progress-rma-step4-content .progress-rma-step2-content-buttons-block{
    padding: 0 0 35px 0;
}
.rma-confirm-table .table-row {
    height: auto;
    line-height: initial;
    padding-bottom: 20px;
}
.rma-confirm-table .search-company h6{
    font-size: 16px;
    margin: 20px 0 20px 20px;
    display: inline-block;
}
.rma-confirm-table .search-company .show_all {
    float: right;
    color: #d1d1d2;
    margin: 20px 35px 0 0;
}
.rma-confirm-table .table-head {
    background: #d5dce5;
    height: 45px;
    line-height: 45px;
}
.rma-confirm-table .col1 {
    width: 17%;
    padding-left: 1.5%;
}
.rma-confirm-table .col4 {
    width: 12%;
}
.rma-confirm-table .col5 {
    width: 14%;
}
.rma-confirm-table .col6 {
    padding: 0;
    width: 14%;
}
.rma-confirm-table .col7 {
    width: 13%;
}
.ugp-table-container{
    font-weight: 500;
}
.ugp-table-container .table-row >div{
    vertical-align: top;
    padding-top: 25px;
}
.rma-confirm-table .col3 > div input{
    width: 46%;
    height: 35px;
    float: right;
}
.rma-confirm-table .col3 > div{
    display: inline-block;
    width: 100%;
    float: left;
    padding-right: 20%;
    line-height: 35px;
    margin-bottom: 6px;
}
.qty-return{
    width: 39%;
    height: 35px;
    line-height: 35px;
}
.rma-confirm-table select{
    width: 82%;
    height: 35px;
    font-size: 14px;
    padding-left: 5%;
}
.product-name, .product-inf{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mobile-separator{
    display: none;
}
@media (max-width: 1440px){
    .progress-rma-step4-content {
        padding: 20px 60px;
    }
}
@media (max-width: 1024px) {
    .ugp-table-container {
        font-size: 9px;
    }

    .rma-confirm-table .col3 > div {
        line-height: 19px;
    }

    .rma-confirm-table .col3 > div input, .qty-return, .rma-confirm-table select {
        height: 20px;
        font-size: 9px;
    }
}
@media (max-width: 767px) {
    .ugp-table.rma-confirm-table .table-row > div, .ugp-table.rma-confirm-table .table-head > div {
        display: block;
        width: 100% !important;
        padding-left: 2% !important;
    }

    .ugp-table.rma-confirm-table .table-head {
        height: auto;
        width: 30%;
        display: inline-block;
        float: left;
        background: transparent;
        border: 0;
    }

    .mobile-separator {
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #d1d1d2;
    }

    .ugp-table.rma-confirm-table .table-row {
        width: 69%;
        display: inline-block;
        border: 0;
    }

    .ugp-table.rma-confirm-table .ugp-table-container .table-row > div {
        padding-top: 20px;
    }

    .ugp-table.rma-confirm-table .ugp-table-head .col3 {
        height: 85px;
        line-height: 77px;
    }

    .ugp-table.rma-confirm-table.ugp-table-head > div {
        height: 43px;
    }

    .qty-return {
        width: 46%;
    }
    .ugp-table.rma-confirm-table .table-row .col4{
    padding-right: 20%;
    text-align: right;
    }
}
@media (max-width: 425px) {
    .ugp-table.rma-confirm-table .search-company .show_all {
        margin: 22px 5px 0 0;
        font-size: 11px;
    }
    .progress-rma-step4-content {
        padding: 20px 5px;
    }
}
.request-completed{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 50px 0 0 0;
}
.request-completed .fa-check{
    width: 80px;
    height: 80px;
    background: #633afd;
    line-height: 80px;
    color: white;
    font-size: 40px;
    border-radius: 50%;
}
.request-completed-violet-text{
    color: #633afd;
    font-size: 22px;
    text-transform: capitalize;
    margin: 10px 0 0 0;
}
.request-completed > p{
    margin: 30px auto;
    font-size: 17px;
    width: 40%;
}
.report-btn{
    width: 37%;
    height: 60px;
    background: #633afd;
    color: white;
    text-align: center;
    padding: 0 13px;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    margin: 27px 0 0 0;
    box-shadow: 0 4px 12px 0px #633afd;
}
.request-detail-table{
    margin: 60px 0 30px 0;
}
.request-detail-table .ugp-table-container{
    padding: 15px 30px 0 30px;
}
.request-detail-table .col1 {
    width: 77%;
}
.request-detail-table .col2 {
    width: 9%;
}
.request-detail-table .col3 {
    width: 12%;
    text-align: right;
}
.request-detail-table .table-row >div {
    vertical-align: inherit;
    padding-top: 0;
    line-height: 70px;
}
.request-detail-img, .request-detail-number{
    display: inline-block;
}
.request-detail-img{
    width: 80px;
    line-height: 50px;
    border-right: 1px solid #d1d1d2;
    margin-right: 20px;
}
.request-detail-img img{
    width: 90%;
    max-width: 40px;
}
.request-detail-table .table-row{
    padding-bottom: 0;
}
@media (max-width: 1440px){
    .progress-rma-step5-content {
        padding: 20px 60px;
    }
}
@media (max-width: 767px) {
    .progress-rma-step5-content {
        padding: 20px 5px;
    }
    .report-btn{
        width: 50%;
        height: 45px;
        font-size: 14px;
    }
    .request-completed > p {
        width: 80%;
    }
    .request-detail-table .ugp-table-container {
        padding: 15px 0 0 0;
    }
    .request-detail-table .col1 {
        width: 65%;
    }
    .request-detail-table .col2,    .request-detail-table .col3 {
        width: 16%;
    }
}


