.input-container {
    display: inline-block;
}
label {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 16px;
    left: 17px;
    background: white;
    padding: 0 4px;
}
select, input[type="text"], input[type="date"], textarea {
    border: 2px solid #e1e4eb;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
}
textarea{
    padding: 10px 18px 0 18px;
}
input[type="radio"]:before {
    background: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    left: -5px;
    top: -5px;
    cursor: pointer;
}
input[type="radio"]:after {
    position: relative;
    top: -17px;
    left: 7px;
}
input[type="radio"] ~ label {
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin: 0 40px 0 0;
    top: -1px;
    cursor: pointer;
}


@media (min-width: 768px){
    .sidebar {
        top: 0;
        width: 65px;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.21);
        padding: 0;
        background: white;
        text-align: center;
    }
}
.logo{
    display: inline-block;
    margin: 10px 0 105px 0;
}
.nav>li>a {
    padding: 26px 15px;
    border-top: 1px solid #e1e4eb;
}
.nav>li>a:last-child{
    border-bottom: 1px solid #e1e4eb;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #1d1d1e;
    color: #fff;
}
body{
    padding: 0;
    display: inline-block;
    width: 100%;
    font-family: 'Roboto';
}
.navibar{
    height: 95px;
    border-bottom: 1px solid #e1e4eb;
    padding-left: 100px;
    line-height: 92px;

}
.navbar-left {
    width: 300px;
}
.navbar-left >div{
    display: inline-block;
}

.dropdown-select select{
    width: 200px;
    height: 45px;
    padding-left: 35px;
    text-transform: uppercase;
    background: transparent;
}
.dropdown-select img{
    position: relative;
    left: 30px;
    margin-top: -2px;
}
.dropdown-select .dropdown-select-arrow{
    left: -32px;
    z-index: -1;
}
.plus{
    margin-left: 15px;
    color: white;
    background: #000;
    height: 23px;
    width: 23px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.search-button{
    margin-left: 6px;
    font-size: 10px;
    border: 1px solid;
    width: 23px;
    height: 23px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(90deg);

}
.search-button i{
    top: 1px;
    position: relative;
}
.navbar-right > div, .navbar-right > a, .folder-qty, .profile-name{
    display: inline-block;
    font-size: 16px;
    color: #000;
}
.navbar-right{
    margin: 0;
    width: 930px;
}
.adobe{
    margin-right: 6%;
}
.profile{
    float: right;
    width: 270px;
    margin-left: 40px;
    background: #000;
    height: 94px;
}
.profile img{
    margin-left: 22px;
}
.profile-name{
    color: #fff;

}

.folder-qty{
    width: 40px;
    text-align: center;
    color: white;
    background: #633afd;
    height: 24px;
    line-height: 25px;
    border-radius: 30px;
    margin-left: 20px;
}
.folder img{
    margin: 0 7px 4px 2px;
}
.navbar-right-separator{
    background: #e1e4eb;
    width: 1px;
    height: 38px;
    position: relative;
    top: 15px;
    margin:0 28px 0 9px;
}

.status{
    margin-right: 45px;
}
.adobe img{
    margin: 0 16px 4px 6px;
}
.notifications img{
    margin: 3px 20px 2px -4px;
}
.profile-ellipsis{
    float: right;
    margin-right: 15px;
    color: white;
}
.navbar-right > a:hover, .navbar-right > a:focus, .navbar-right .folder:hover, .navbar-right .folder:focus{
    text-decoration: none;
    outline:none;
    border-bottom: 2px solid #633afd;
}
.navbar-right .folder{
    position: relative;
}
.navbar-right .folder a{
    display: inline-block;
    color: #000;
}
.navbar-right .folder a:hover, .navbar-right .folder a:focus{
    color: #000;
    text-decoration: none;
}
.navbar-right .folder .dropdown-menu{
    top: 100px;
    width: 290px;
    border-radius: 12px;
}
.status img {
    margin: 0 10px 5px -5px;
}
.main-block-header h1{
    margin-left: 100px;
    margin-top: 0;
    font-size: 25px;
    display: inline-block;
}
.main-block-header{
    padding-top: 34px;
}
.main-block-header-buttons{
    float: right;
    margin-right: 25px;
}
.main-block-header-button{
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    background: #000;
    color: white;
    text-transform: uppercase;
    border: 2px solid black;
    margin-left: 18px;
    padding: 0 9px;
}
.main-block-header-button:focus{
    outline:none;
}
.transparent-button{
    color: #e1e4eb;
    border: 2px solid #e1e4eb;
    background: white;
    margin-left: 4px;
    text-transform: lowercase;

}
.transparent-button-active{
    border: 2px solid #633afd;
    color: #633afd;
}
.items-grid{
    margin-left: 80px;
    margin-top: 28px;
}
.item{
    width: 288px;
    height: 193px;
    display: inline-block;
    background: yellowgreen;
    color: white;
    border-radius: 7px;
    margin: 0 9px 12px 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
}
.item:first-child{
    background: #000;
}
.item:nth-child(3){
    background: #6d6d6e;
}
.item:nth-child(4){
     background: #633afd;
 }
.item:nth-child(5){
    background: #5082fb;
}
.item:nth-child(6){
    background: #aa53a5;
}
.item-name{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}
.item-head-ellipsis{
    float: right;
    color: white;
}
.item .item-head-ellipsis{
    color: #fff;
}
.item-qty{
    font-size: 46px;
    padding: 0 20px;
}
.item-qty p{
    font-size: 14px;
    margin: -4px 0 12px 0;
}
.item-head {
    padding: 20px 20px 0 20px;
}
.item-footer{
    border-top: 1px solid;
    padding: 0 20px;
    line-height: 43px;
}
.item-footer a{
    color: white;
    font-size: 17px;
}
.item-footer p{
    display: inline-block;
    float: right;
}
.white-item, .white-item .item-head-ellipsis, .white-item .item-qty p{
    color: #a0a2a7;
}
.white-item .item-name, .white-item .item-qty, .white-item .item-footer a{
    color: #000;
}
.white-item{
    background: #fff;
}
.add_item{
    width: 288px;
    height: 193px;
    display: inline-block;
    background: white;
    color: black;
    border-radius: 7px;
    text-align: center;
    vertical-align: top;
    margin: 0 9px 12px 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    cursor: pointer;
}
.add_item_plus{
    font-size: 36px;
    border: 2px solid;
    width: 75px;
    height: 75px;
    line-height: 70px;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 50%;
}
.add_item p{
    font-size: 12px;
    margin-top: 10px;
}
.right-block{
    max-width: 480px;
    height: 100%;
    position: fixed;
    top: 95px;
    right: 0;
    border-left: 1px solid #e1e4eb;
    padding: 0;
    border-top: 1px solid #e1e4eb;
}
.timeline{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 42px 0 10px 35px;
    border-bottom: 1px solid #e1e4eb;
}
.block-file{
    padding: 30px 25px 25px 35px;
    border-bottom:1px solid #e1e4eb;
}
.block-file.approved img{
    float: left;
    margin-right: 10px;
}
.block-file p{
    display: inline-block;
    margin: 0;
}
.block-file h6{
    margin: 0 0 5px 0;
    font-size: 14px;
}
.block-file-status{
    display: inline-block;
    background: #00a453;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 4px;
}
.block-file p{
    font-size: 12px;
    margin-left: 2px;
    color: #d0d0d9;
}
.file-status{
    display: inline-block;
    width: 50%;
    font-size: 12px;
    color: #00a453;
    font-weight: 500;
    margin: 12px 0 0 0;
}
.file-status span{
    font-size: 22px;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 10px;
}
.file-status-for-print{
    display: inline-block;
    float: right;
    margin: 12px 0 0 0;
    font-size: 14px;
    text-transform: capitalize;
}
.approved .file-status-for-print {
    color: #00a453;
}
.completed{
    margin: 5px 0 0 3px;
    font-size: 12px;
    padding: 7px 16px;
    border: 1px solid #e1e4eb;
    background: #f7f9fc;
    display: inline-block;
    width: 100%;
}
.completed .fa-check{
    color: #00a453;
}
.not-approved .file-status{
    color: #ff0000;
}
.not-approved .block-file-status{
    background: #ff0000;
}
.right-block-footer{
    padding: 15px 25px 15px 35px;
    border-bottom: 1px solid #e1e4eb;
}
.right-block-name, .right-block-separator, .right-block-date{
    display: inline-block;
}
.right-block-separator{
    display: inline-block;
    width: 1px;
    background: #d0d0d9;
    vertical-align: middle;
    height: 14px;
    margin: 0 5px 0 6px;
}
.right-block-date{
    color: #d0d0d9;
}
.notifications-point{
    background: #633afd;
    width: 5px;
    border-radius: 50%;
    height: 5px;
    display: inline-block;
    position: relative;
    margin-left: -7px;
    left: -18px;
    top: -9px;
}
.status-point{
    background: #633afd;
    width: 5px;
    border-radius: 50%;
    height: 5px;
    display: inline-block;
    position: relative;
    left: -10px;
    top: -20px;
}
/*hamburger-menu*/
/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3, .animated-icon4 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon3 span {
    background: #e3f2fd;
}

.animated-icon4 span {
    background: #000;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon3 span:nth-child(1) {
    top: 0px;
}

.animated-icon3 span:nth-child(2), .animated-icon3 span:nth-child(3) {
    top: 10px;
}

.animated-icon3 span:nth-child(4) {
    top: 20px;
}

.animated-icon3.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon3.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon4 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon4 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}
.navbar-collapse.collapse {
    display: none !important;
}
.navbar-collapse.collapse.in {
    display: block !important;
}
.navbar-collapse{
    position: absolute;
    top: 70px;
    padding: 0;
    right: 0;
    width: 100%;
}
.navbar-toggler{
    border: 0;
    background: transparent;
    height: 40px;
    position: absolute;
    right: 0;
}
.navbar-toggler:focus{
    outline:none;
}
.navbar-right-hamburger{
    display: inline-block;
    width: 300px;
    position: absolute;
    right: 0;
    top: 23px;
    z-index: 1;
}
.navbar-nav>li{
    list-style:none;
    width:100%;
}
.navbar-right-hamburger .profile{
    margin-left: 0;
    width: 100%;
}
.navbar-nav{
    padding: 0;
    border: 1px solid #e1e4eb;
    background: #f7f9fc;
    margin: 0;
}
.navbar-right-hamburger .nav-item a img{
    margin:0 20px 0 30px;
}
.navbar-right-hamburger{
    display: none;
}
@media (max-width: 767px) {
    .right-block{
        max-width:none;
        position: static;
    }
    .navibar{
        padding-left: 10px;
    }
    .items-grid {
        margin: 20px auto;
    }
    .main-block-header h1 {
        margin: 0 0 0 15px;
    }
    .main-block-header-button{
        margin: 5px 0 0 15px;
    }
    .dropdown-select select {
        width: 160px;
        height: 35px;
    }
}
@media (max-width: 1024px) {
.file-status-for-print{
    float: none;
    width: 100%;
}
}
@media (max-width: 1440px) {
    .navbar-right{
        display: none;
    }
    .navbar-right-hamburger{
        display: block;
    }
    .trafic-cop-status .sidebar{
        min-width: 65px;
        width: 65px;
    }
    .sidebar li>a>img {
        margin-right: 30px;
        margin-left: 7px;
    }
}

/*trafic-cop-status-page**********************************************************************************************/
.sidebar-open{
    text-align: left;
}
.sidebar-open .logo{
    padding: 50px 30px;
    margin: 10px 0 0 0;
}
.sidebar-open li>a>img{
    margin-right: 24px;
}
.sidebar-open li>a{
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.sidebar-open li>a:hover{
    color: #fff;
}
.sidebar-open .folder-qty{
    float: right;
    background: #edeff3;
    color: black;
    font-weight: 400;
    font-size: 15px;
}
.navibar-sidebar-open{
    padding-left: 285px;
    background: white;
}
.main-block-sidebar-open{
    padding-left: 305px;

}
.trafic-cop-status .main-block-header h1 {
    margin-left: 15px;
}
.trafic-cop-status .right-block {
    max-width: 270px;
    background: white;
    top: 0;
}
.navibar-sidebar-open {
    position: relative;
    z-index: 9;
}
.links-block{
    margin-top: 95px;
}
.links-block a{
    display: inline-block;
    width: 100%;
    padding: 35px 0 0 23px;
    font-size: 18px;
    font-weight: 400;
    color: black;

}
.links-block a:hover, .links-block a:focus{
    color: #633afd;
    text-decoration: none;
}
.links-block img{
    margin-right: 20px;
}
.trafic-cop-status .profile{
    margin-left: 30px;
}
.actions-block{
    margin: 30px 0 0 0;
}
.actions-block h6{
    padding: 0 0 0 25px;
    font-size: 14px;
    text-transform: capitalize;
    color: #adadbd;
}
.action{
    padding: 20px 0 18px 25px;
    border-top: 1px solid #adadbd;
}
.action img{
    border-radius: 50%;
    border: 1px solid #adadbd;
    padding: 2px;
    width: 48px;
}
.action-text{
    display: inline-block;
    width: 175px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
}
.action-time{
    margin: 10px 0 0 0;
    color: #adadbd;
}
.actions-block .brd{
    border-top: 1px solid #adadbd;
    margin: 0 0 0 0;
    padding: 30px 0 0 25px;
}
.sidebar{
    background: white;
    width: auto;
}
.sidebar::-webkit-scrollbar {
    width: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background: #f7f9fc;
}
.main-table{
    background: white;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.21);
    margin: 26px 0 0 6%;
    border-radius: 5px;
}
.table-row >div, .table-head > div{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-row, .table-head{
    border-top: 1px solid #e1e4eb;
}
.table-row:last-child{
    border-bottom: 1px solid #e1e4eb;
}
.recent-workflow h6{
    text-transform: capitalize;
    font-size: 17px;
    padding: 20px 30px;
}
.recent-workflow>img{
    margin: 0 0 0 32px;
}
.input-form{
    display: inline-block;
    margin: 0 0 0 20px;
}
.input-form input{
    height: 35px;
    width: 275px;
    border: 1px solid #adadbd;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 40px 0 11px;
}
.input-form button{
    background: transparent;
    height: 35px;
    position: relative;
    right: 35px;
    padding: 0 8px;
    border: 0;
    color: black;
}
.search-form{
    float: right;
    margin-right: 4%;
}
.search-form img{
    margin: 0;
    position: relative;
    left: 38px;
}
.search-form input{
    padding-left: 44px;
    font-size: 16px;
}

*:focus{
    outline:none;
}
.recent-workflow{
    padding-bottom: 25px;
}
.table-head{
    background: #f7f9fc;
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
}
.table-row{
    height: 50px;
    line-height: 50px;
}
.col1{
    width: 18%;
    padding-left: 2.5%;
}
.col2{
    width: 13%;
}
.col3{
    width: 14%;
}
.col4{
    width: 11%;
}
.col5{
    width: 12%;
}
.col6{
    width: 17.5%;
}
.table-head .col6{
    padding-left: 4%;

}
.col7{
    width: 8%;
}

.date input{
    width: 104px;
    line-height: 25px;
    height: 27px;
    font-size: 9px;
    padding-left: 19px;
    padding-right: 0px;
    vertical-align: middle;
}
.date img{
    position: relative;
    left: 16px;
}
.date button{
    width: 10px;
    padding: 0;
    height: 27px;
    line-height: 27px;
    vertical-align: middle;
    background: black;
    border: 0;
    color: white;
}
.date .change-date{
    width: 60px;
    font-size: 10px;
}
.table-row{
    border-left: 5px solid transparent;
}
.table-row:hover{
    border-left: 5px solid;
}
.add{
    margin: 10px 15% 20px 30px;
    width: 96px;
    height: 36px;
    background: #633afd;
    color: white;
    text-align: left;
    padding: 0 13px;
    font-size: 11px;
    border: 0;
    border-radius: 4px;
}
.add span{
    vertical-align: middle;
    font-size: 24px;
    margin: 0 17px 0 0;
}
.table-footer-link{
    margin: 0 15px 0 0;
}
.col3-status{
    cursor: pointer;
}
.context-menu-status{
    position: absolute;
    background: white;
    border: 1px solid;
    border-radius: 4px;
    width: 190px;
    padding-bottom: 27px;
    text-align: center;
    margin-left: -40px;
}
.context-menu-status-close{
    height: 20px;
    line-height: 15px;
    float: right;
    background: transparent;
    border: 0;
}
.context-menu-status-item{
    padding-left: 20px;
    font-size: 12px;
    height: 34px;
    cursor: pointer;
    text-align: left;
}
.context-menu-status-item img{
    margin-right: 7px;

}
.context-menu-status-triangle{
    position: absolute;
    top: -10px;
}
.sidebar-close{
    display: none;
}
.date button {
    margin: 0 0 0 -4px;
}
.navibar-sidebar-open .notifications img {
    margin: 3px 15px 2px -4px;
}
@media (max-width: 1768px) {
.main-table{
    font-size: 12px;
}
    .date input{
        width: 100px;
    }
}
@media (max-width: 1700px) {
    .trafic-cop-status .profile {
        margin-left: 25px;
    }
    .trafic-cop-status .right-block {
        max-width:none;
        padding-left: 290px;
        top: 15px;
        position: relative;
    }
    .main-block-sidebar-open{
        width: 100%;
    }
    .navibar-sidebar-open .navbar-left {
        width: 290px;
    }
    .navibar-sidebar-open .navbar-right {
        width: 860px;
    }
    .navibar-sidebar-open .navbar-right > a{
        font-size: 12px;
    }
    .navibar-sidebar-open .dropdown-select select {
        width: 180px;
    }
}
@media (max-width: 1440px) {
    .sidebar-close{
        display: block;
    }
    .navibar{
        padding-left: 100px;
    }
    .main-block{
        padding-left: 20px;
    }
    .main-block-header{
        padding-left: 80px;
    }
    .trafic-cop-status .right-block {
        padding-left: 90px;
    }
}
@media (max-width: 1250px) {
    .date input {
        width: 84px;
        font-size: 7px;
    }
    .main-table {
        font-size: 9px;
    }
}
@media (max-width: 1024px) {
    .date button {
        margin: 0;
    }
    .table-row >div, .table-head > div {
        display: inline-block;
        vertical-align: middle;
    }
    .date img, .recent-workflow>img {
        display: none;
    }
    .date input{
        float: left;
        width: 69px;
        padding: 0 3px;
    }
    .date button {
        float: left;
    }
    .main-table {
        font-size: 8px;
    }
    .date .change-date {
        width: 46px;
        font-size: 7px;
    }
    .input-form{
        width: 100%;
        margin: 10px 0 10px 0px;
    }
    .search-form {
        float: none;
        margin-right: 0;
        margin-left: -18px;
    }
}
@media (max-width: 767px) {
    .main-table{
        margin-left: 0;
    }
    .trafic-cop-status .right-block{
        padding-left: 20px;
    }
    .date{
        display: inline-block;
        width: 100%;
    }
    .date input, .date button, .date .change-date{
        width: 100%;
        height: 15px;
        line-height: 10px;
        float: left;
    }
    .col8{
        width: 6%;
    }
    .col2, .col4{
        width: 9%;
    }
    .input-form input{
        width: 85%;
    }

}
@media (max-width: 425px){
    .navibar {
        padding-left: 0;
    }
    .main-block-header {
        padding-left: 10px;
    }
}
.sidebar .ui-resizable-s{
    display: none !important;
}
.sidebar .ui-resizable-e {
    width: 12px;
}
.sidebar .nav>li{
    min-width: 280px;
}
.close-sidebar{
     min-width: 65px;
     width: 65px;
 }
.close-sidebar li>a>img {
    margin-right: 30px;
    margin-left: 7px;
}
.small-logo{
    display: none;
}
.close-sidebar .full-logo{
    display: none;
}
.close-sidebar .small-logo{
    display: block;
}
.close-sidebar .logo {
    padding: 0 12px;
    height: 176px;
}

input:focus{
    outline:none !important;
}

input[type="checkbox"]  {
    position: relative !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 8px;
    box-sizing: content-box;
    overflow: hidden;
    top: 4px;
}
input:before {
    content: '';
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    transition: 0.2s border-color ease;
}
input:checked:before {
    border-color: #633afd;
    transition: 0.5s border-color ease;
}
input:disabled:before {
    border-color: #ccc;
    background-color: #ccc;
}
input:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #633afd;
    width: 16px;
    height: 16px;
    border-radius: 100vh;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
input[type="radio"]:before {
    border-radius: 100vh;
}
input[type="radio"]:after {
    width: 16px;
    height: 16px;
    border-radius: 100vh;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
input[type="radio"]:checked:after {
    -webkit-animation: toggleOnRadio 0.2s ease forwards;
    animation: toggleOnRadio 0.2s ease forwards;
}
input[type="checkbox"]:before {
    border-radius: 4px;
}
input[type="checkbox"]:after {
    width: 9.6px;
    height: 16px;
    border-radius: 0;
    -webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
    transform: translate(-50%, -85%) scale(0) rotate(45deg);
    background-color: transparent;
    box-shadow: 4px 4px 0px 0px #633afd;
}
input[type="checkbox"]:checked:after {
    -webkit-animation: toggleOnCheckbox 0.2s ease forwards;
    animation: toggleOnCheckbox 0.2s ease forwards;
}
input[type="checkbox"].filled:before {
    border-radius: 4px;
    transition: 0.2s border-color ease, 0.2s background-color ease;
}
input[type="checkbox"].filled:checked:not(:disabled):before {
    background-color: #633afd;
}
input[type="checkbox"].filled:not(:disabled):after {
    box-shadow: 4px 4px 0px 0px white;
}
@-webkit-keyframes toggleOnCheckbox {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
        transform: translate(-50%, -85%) scale(0) rotate(45deg);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
        transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
    }
    100% {
        -webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
        transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
    }
}
@keyframes toggleOnCheckbox {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
        transform: translate(-50%, -85%) scale(0) rotate(45deg);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
        transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
    }
    100% {
        -webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
        transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
    }
}
@-webkit-keyframes toggleOnRadio {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.9);
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
    }
}
@keyframes toggleOnRadio {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.9);
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
    }
}
.dropdown-menu{
    top: 18%;
}
.dropdown-item{
    width: 100%;
    display: inline-block;
    padding: 11px 17px 0;
    color: black;
}
.dropdown-divider{
    width: 100%;
    display: inline-block;
    height: 1px;
    background: #ccc;
}
.dropdown-item:hover{
    text-decoration: none;
    color: #633afd;
}
.panel-collapse {
    font-size: 18px;
    color: white;
    font-weight: 500;
    background: #2a2a2c;
}
.panel-collapse ul{
    padding: 0;
}
.panel-collapse li{
    list-style: none;
    padding: 14px 28px 17px 15px;
}
.panel-collapse input{
    float: right;
    margin: 0;
}
.panel-collapse img{
    margin-right: 20px;
}
.panel-collapse input:checked{
    background: white;
    border-radius: 6px;
}
.close-sidebar .panel-collapse li{
    padding: 14px 23px 17px;
}
.close-sidebar .panel-collapse img {
    margin-right: 50px;
}
.fa-paperclip{
    border: 2px solid;
    padding: 2px;
    border-radius: 5px;
    margin: 0 0 0 6px;
    color: #a0a0a0;
}
.fa-paperclip:hover, .fa-paperclip:focus{
    color: #000;
    cursor: pointer;
}
.folder-dropdown-item-r-buttons, .remove-item{
    display: inline-block;
}
.item-img{
    margin: 0 15px 0 0;
    max-width: 55px;
}
.folder-dropdown-item-r-buttons{
    float: right;
}
.folder .dropdown-item{
    font-size: 16px;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;;
}
.remove-item{
    width: 25px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #a0a0a0;
    border-radius: 50%;
    color: #a0a0a0;
}
.remove-item:hover{
    border:1px solid #f6255a;
    background: #f6255a;
    color: #fff;
    font-weight: 500;
}
.dropdown-menu-folder-footer{
    text-align: center;
}
.dropdown-menu-folder-checkout{
    height: 45px;
    line-height: 41px;
    border-radius: 40px;
    width: 140px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
}
.black-btn{
    height: 45px;
    line-height: 41px;
    border-radius: 40px;
    width: 140px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
}
.white-btn{
    height: 45px;
    line-height: 41px;
    border-radius: 40px;
    width: 140px;
    background: white;
    color: #000;
    border: 1px solid #000;
}
.sidebar input{
    cursor: pointer;
}
.sidebar input:before {
    width: 22px;
    height: 22px;
    border: 1px solid #a0a0a0;
}
.sidebar input[type="checkbox"]:after, .fold-item input[type="checkbox"]:after{
    box-shadow: 4px 4px 0px 0px #000;
}
.sidebar input:checked:before, .fold-item input:checked:before{
    border-color: #000;
}
select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-repeat: no-repeat;
    background-image: url(../img/select-shevron.png);
    background-position: 95%;
    line-height: normal;

}
.ui-datepicker td {
    border: 0;
    padding: 25px 5px 0px 10px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
    background: transparent;
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover,
.ui-state-default:hover{
    background: #633afd !important;
    border-radius: 50%;
    color: #fff;
}
.modalCalendar .ui-state-hover{
    border: 0;
}
.ui-datepicker {
    width: 27.4em;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 3.8em;
    font-size: 20px;
}
.ui-widget-header{
    background: transparent;
}
.ui-widget.ui-widget-content{
    padding: 0;
}
.ui-datepicker .ui-datepicker-header {
    border: 0;
    border-bottom: 1px solid #dddddd;
}
.ui-datepicker-calendar thead{
    border-bottom: 1px solid #dddddd;
}
.ui-datepicker .ui-datepicker-next {
    right: 0;
    top: 0;
    height: 100%;
    width: 4em;
    border-left: 1px solid #dddddd;
}
.ui-datepicker .ui-datepicker-prev {
    left: 0;
    top: 0;
    height: 100%;
    width: 4em;
    border-right: 1px solid #dddddd;
}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover{
    background: #633afd;
}
.ui-datepicker .ui-datepicker-prev .ui-icon-circle-triangle-w:before {
    content: "\f053" !important;
    color: #000;
    margin-right: 20px;
}
.ui-datepicker .ui-datepicker-next .ui-icon-circle-triangle-e:before {
    content: "\f054";
    color: #000;
    margin-right: 20px;
}
.ui-datepicker .ui-icon{
    text-indent: 5px;
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    background: none;
    color: transparent;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
    font-weight: 600;
}
.ui-datepicker .ui-datepicker-prev:hover .ui-icon-circle-triangle-w:before,
.ui-datepicker .ui-datepicker-next:hover .ui-icon-circle-triangle-e:before{
    color: #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    font-weight: 500;
}
.ui-state-default:hover{
    font-weight: 500;
}

@media (max-width: 425px) {
    .ui-datepicker {
        width: 21.4em;
    }
    .ui-datepicker td {
        padding: 15px 0 0 3px;
    }
}
.recent-workflow>img{
    cursor: pointer;
}
.ui-datepicker-clear-month {
    position: absolute;
    top: 9px;
    right: 32px;
    height: 100%;
    line-height: 100%;
    display: inline;
    cursor: pointer;
    color: red!important;
}
.modalCalendar .modal-dialog {
    width: 370px;
}
.modalCalendar .ui-state-default, .modalCalendar .ui-widget-content .ui-state-default{
    border: 0;
    background: transparent;
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
.modalCalendar .ui-datepicker td{
    padding: 5px 0 10px 0;
}
.modalCalendar .ui-datepicker {
    width: 100%;
    margin: 0 auto 30px auto;
}
.modalCalendar .ui-datepicker-calendar thead{
    border: 0;
}
.modalCalendar .ui-datepicker .ui-datepicker-header{
    border: 0;
    padding: 0;
    margin-bottom: 25px;
}
.modalCalendar .ui-datepicker .ui-datepicker-title {
    line-height: 53px;
    font-size: 13px;
    background: #48494a;
    color: white;
    height: 53px;
    font-weight: 300;
}
.modalCalendar .ui-datepicker .ui-datepicker-prev, .modalCalendar .ui-datepicker .ui-datepicker-next {
    background: #181718;
    cursor: pointer;
}
.modalCalendar .ui-datepicker .ui-datepicker-next .ui-icon-circle-triangle-e:before,
.modalCalendar .ui-datepicker .ui-datepicker-prev .ui-icon-circle-triangle-w:before{
    color: #fff;
}
.modalCalendar .ui-datepicker table {
    width: 84%;
    margin: 0 auto;
}
.modalCalendar .ui-datepicker-clear-month {
    position: static;
    top: 9px;
    right: 32px;
    width: 100px;
    height: 36px;
    line-height: 100%;
    display: inline-block;
    cursor: pointer;
    color: white !important;
    font-weight: 300;
}
.violet-btn {
    width: 37%;
    height: 60px;
    background: #633afd;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0px #633afd;
}
.modalCalendar .modal-footer {
    padding: 20px 0 10px 0;
    text-align: center;
    border-top: 1px solid #000;
}
.selected-dates{
    width: 85%;
    margin: 0 auto 10px auto;
    border: 1px solid #e1e4eb;
    line-height: 41px;
    border-radius: 4px;
    font-weight: 600;
}
.modalCalendar .ui-widget.ui-widget-content{
    border: 0;
}
.modalCalendar  .modal-header {
    text-align: center;
    padding: 15px;
    border-bottom: 0;
}
.modalCalendar  .modal-header h5{
    font-size: 17px;
    font-weight: 400;
}
.close-calendar{
    background: black !important;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: -25px;
    border-radius: 50%;
    font-size: 30px;
    opacity: 1;
    color: white;
}
.close:focus, .close:hover{
    opacity: 1;
    color: white;
}
.selected-dates img{
    margin: -4px 10px 0 0;
}
.ui-selected{
    background-image: url(../img/Selection.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;

}
.drag-start{
    background-image: url(../img/Selection.png);
    background-repeat: no-repeat;
    background-position: -10% 30%;
}


.drag-over{
    background-image: url(../img/Selection.png);
    background-repeat: no-repeat;
    background-position: 110% 30%;
}






